<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title>Sinatra Drop File Upload</title>
    <%= stylesheet_link_tag '/stylesheets/screen.css', :media => 'Screen' %>
    
	  <meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate">
		<meta http-equiv="cache-control" content="post-check=1, pre-check=2">
		<meta http-equiv="Expires" content="-1">      
  </head>
  <body>
		oi...
		
		<%= javascript_include_tag '/javascripts/jquery-1.7.1.min.js', '/javascripts/application.js' %>
  </body>
</html>
