<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title>Sinatra Drop File Upload</title>
    <%= stylesheet_link_tag '/stylesheets/screen.css', :media => 'Screen' %>
    
	  <meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate">
		<meta http-equiv="cache-control" content="post-check=1, pre-check=2">
		<meta http-equiv="Expires" content="-1">      
  </head>
  <body>
		<div id="dragZone">Drag Files Here.</div>		
		<%= javascript_include_tag '/javascripts/jquery-1.7.1.min.js', '/javascripts/application.js', '/javascripts/jquery.dndupload.js' %>
		
		<script type="text/javascript">
			$("#dragZone").dndupload({
				params:{
		            param1 : 'value1'
		        },
		        url:'/upload',
		        maxfiles:100,
		        maxfilesize:50*1024*1024
		    }).bind("over.dndupload", function(event){
		         $(this).addClass("dnd-enter");
		    }).bind("out.dndupload", function(event){
			   $(this).removeClass("dnd-enter");
			}).bind("done.dndupload", function(event, data){
			   //show result
			   console.info(data.result);
			   $(this).removeClass("dnd-enter");
			}).bind("start.dndupload", function(event, data){
			   //show file list
			   console.info(data.files);
			}).bind("uploadcancel.dndupload", function(event, data){
			   //show current file
			   console.info(data.file);
			}).bind("uploadstart.dndupload", function(event, data){
			   //show current file
			   console.info(data.file);
			}).bind("uploadcomplete.dndupload", function(event, data){
			   //show current file
			   console.info(data.file);
			}).bind("uploaderror.dndupload", function(event, data){
			   //show current file
			   console.info(data.file);
			}).bind("uploadprogress.dndupload", function(event, data){
			   //show current file, current progress
			   console.info(data.file, data.progress);
			}).bind("error.dndupload", function(event, data){
			   //show error
			   console.info(data.error);
			});
		</script>			
  </body>
</html>
